.dialogue__form-field {
    width: 100%;
    margin: 30px 0 0;
    padding: 0 0 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    color: #000000;
    transition: border-color .3s linear;
}

.dialogue__form-field:focus {
    outline: none;
    border-color: rgba(0, 0, 0, .8);
}

.dialogue__form-field:first-of-type {
    margin-top: 0;
}
