.card__like-button {
  width: 21px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/icon-like-outlined.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image .1s linear, opacity .1s linear;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
