.profile__title-text {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  color: #FFFFFF;
}

@media screen and (max-width: 960px) {
  .profile__title-text {
    font-size: 22px;
    line-height: 27px;
  }
}
